<!DOCTYPE html>
<html lang="en">
<head>
    <title>ADMISSIONHELPER APPLICATION</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
   <link href="./css/style.css" rel="stylesheet" type="text/css">
   <link href="https://cdn.jsdelivr.net/npm/daisyui@2.17.0/dist/full.css" rel="stylesheet" type="text/css" />
   <script src="https://cdn.tailwindcss.com"></script>
   <style>
    *{
      margin: 0;
      padding: 0;
      background-color: black;
    }
    body{
      background-color: black;
    }
   </style>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class=" mx-auto align-center items-center min-h-max  bg-gray-900 text-white">
        <div class="flex p-5 rounded-lg shadow text-white">
          <div>
            <svg class="w-auto  fill-current text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 5.99L19.53 19H4.47L12 5.99M12 2L1 21h22L12 2zm1 14h-2v2h2v-2zm0-6h-2v4h2v-4z"/></svg>
          </div>
          <div class="ml-3">
            <h2 class="font-semibold text-gray-800 text-white">Notice</h2>
            <p class="mt-2 text-sm text-gray-600 leading-relaxed text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis eos aliquid at quasi velit sint labore laudantium quo, tenetur incidunt cupiditate nemo deleniti commodi molestias debitis dolores modi doloremque id!
            Vero, officiis voluptatem saepe maiores culpa fuga autem qui quis, modi dignissimos totam enim doloremque rem reprehenderit labore assumenda corporis? Velit tempore dicta voluptates fugit laborum iusto perspiciatis impedit nobis.
            Perspiciatis quas maxime accusantium asperiores esse deserunt saepe? Est sapiente ipsum asperiores non aperiam quidem, odit reiciendis delectus laudantium dolorum consequuntur sed deserunt quod autem laborum at. Quam, delectus laboriosam!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore vitae itaque possimus delectus consequuntur nisi blanditiis minima fugit necessitatibus eos mollitia sint ea quae sed, omnis non reprehenderit architecto sequi.
          Beatae quae mollitia illo officiis animi, quia praesentium reprehenderit quaerat odit unde velit omnis placeat, repellat nemo! Omnis, iure. Fugiat nihil odit tenetur nemo debitis quae consequuntur quam quod praesentium.
          Ullam aperiam officiis debitis blanditiis molestiae reprehenderit distinctio, cupiditate voluptas maiores delectus sed officia totam veniam in, repudiandae autem ex sapiente temporibus soluta doloribus velit nulla possimus? Vero, non quas!
          Voluptatibus quia, quas eos facere quae maxime. Nam accusantium, sint perspiciatis, facere provident sapiente quo in nemo vel voluptatem mollitia nihil excepturi, minima doloribus blanditiis est unde error magni. Cumque.
          Ducimus soluta in iure aspernatur ratione dolor voluptatem. Veritatis quos incidunt placeat, vel soluta atque, consectetur non sunt vitae saepe molestiae corporis ullam quo aspernatur, quaerat reprehenderit necessitatibus recusandae nobis?
          Consequuntur similique laudantium quia, provident hic minus amet neque maiores sapiente numquam sit fugit labore pariatur architecto eveniet ipsa magnam veniam vitae dolor vel sequi adipisci accusantium ab. Velit, similique!
          Ipsa, ad molestias ullam porro laboriosam officiis accusamus facilis asperiores suscipit non? Laboriosam vero alias odit fuga harum. Veniam voluptatem voluptatibus optio voluptates omnis cupiditate culpa maiores porro? Iure, ducimus?
          Labore expedita sunt corporis doloribus voluptate harum? Recusandae quaerat, voluptate quis placeat sint deleniti nesciunt laborum id eius tempore. Alias quisquam blanditiis earum accusamus sit consectetur accusantium dignissimos distinctio aliquam.
          Iste deleniti magnam rerum asperiores blanditiis magni, non alias. Quod temporibus quisquam fugiat sed! Dicta atque ipsam ratione ut doloremque harum ad, dolore, blanditiis voluptatum, necessitatibus expedita architecto quibusdam similique.
          Inventore suscipit eaque itaque sint saepe veniam cum nam quisquam molestias reprehenderit velit alias fuga nisi expedita libero quaerat dicta incidunt veritatis, laborum a accusantium. Quisquam minima fuga odit eum?
          Mollitia id excepturi in consequuntur ducimus pariatur modi error est, dolores provident, nemo quaerat natus iusto beatae optio veniam illo sapiente! Quas laborum corrupti explicabo ullam maxime ipsum aut non!
          Minus sint doloremque illum, consectetur at commodi fuga vitae odio cupiditate numquam soluta voluptate labore odit eaque, debitis facere veniam, obcaecati pariatur! Adipisci exercitationem, libero illo eaque voluptatem numquam tempore.
          At aliquam explicabo iure architecto unde vero ducimus saepe eligendi itaque, voluptatem voluptates, quo doloribus, aut exercitationem nostrum consequatur inventore. Quod, dolore? Molestias, soluta dolorum delectus voluptatibus incidunt neque! Non.
          Molestiae, odit. Illo consequuntur aliquid minus laboriosam veniam quaerat ratione aspernatur, odit voluptates molestiae tempore, error natus cum nobis omnis nulla et quasi odio nesciunt deleniti praesentium! Odio, ut dolores?
          Dolore ipsum rem quibusdam exercitationem reprehenderit incidunt fugiat sunt autem dolores eligendi! Provident, veritatis! Optio tempora nihil ex enim impedit harum perspiciatis, quod sequi at velit perferendis doloribus numquam modi!
          Quibusdam eligendi fugit perspiciatis impedit distinctio nesciunt officia fugiat nisi, atque quos sit est consequatur repellat consequuntur vero labore! Magni, aut! Laborum vel excepturi consequatur earum enim similique, odit numquam?
          Nihil, ipsam? Blanditiis fugit illo at. Deleniti laudantium doloribus perferendis alias ullam unde, suscipit est illum sapiente? Magnam accusamus, corporis sint, pariatur autem unde, et explicabo blanditiis saepe rerum cupiditate!
          Eos inventore corporis esse tempora commodi! Voluptate, quo soluta, neque expedita optio dignissimos consequatur provident quam deserunt quas a tenetur? Aliquid necessitatibus repellendus odit cum fuga eveniet placeat alias beatae.
          Iure provident aspernatur culpa cupiditate sunt nobis eos error iste sit, recusandae, explicabo laboriosam placeat! Repellat quis eius quia velit ipsum, nam vero officiis eaque, aut distinctio facilis saepe. Nostrum!
          Sit excepturi atque ea! Vel tempore officiis dolor voluptates magni illo sapiente, molestias alias sit, quam id, numquam blanditiis reprehenderit eos quaerat a! Esse aut officiis, hic voluptate doloremque placeat.</p>
          </div>
        </div>
      </div>
</body>
</html>